.fixedFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerIcons {
  display: flex;
  justify-content: space-evenly;
}

.contentWrapper {
  padding-bottom: 60px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 75vh;
  width: 100%;
}
